<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Behave_Tool.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <userSettings>
    <Behave_Tool.Properties.Settings>
      <setting name="Total_Session_Time" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Text1_Colour" serializeAs="String">
        <value>#FFFFFF</value>
      </setting>
      <setting name="Text2_Colour" serializeAs="String">
        <value>#FF9600</value>
      </setting>
      <setting name="Agreement" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="KeepWindowOnTop" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="BehaveOpacity" serializeAs="String">
        <value>0.9</value>
      </setting>
    </Behave_Tool.Properties.Settings>
  </userSettings>
</configuration>